<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4xWmnUNWCq4vLxi1TlzDraeNfPrNljEo</string>
	<key>GCM_SENDER_ID</key>
	<string>841248185002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.verohue.proservehub</string>
	<key>PROJECT_ID</key>
	<string>proserve-hub-ada0e</string>
	<key>STORAGE_BUCKET</key>
	<string>proserve-hub-ada0e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841248185002:ios:03a68f3199134a88b48ed3</string>
</dict>
</plist>